[Desktop Entry]
Name=蓝徽医院信息系统
Exec=/home/king/soft/his/release/start.sh
Type=Application
Icon=/home/king/soft/his/release/images/image_title.png
Terminal=false